


.fast {
	color: rgb(255, 80, 240);
}
.food {
	color:  blueviolet ;
}
.cafe {
	color: chocolate;
}


p {
	color: rgb(120, 63, 211);
}


h2{
	color:blueviolet;
}

ul{
	color: rgb(231, 90, 71);
}

h3{
	color: coral;
}

ol{
	color: rgb(20, 17, 17);
}